/*font-family: 'Roboto Condensed', sans-serif;
font-family: 'Architects Daughter', cursive;
cream: background: #F9E4AD
salmon: background: #E6B098
pink: background: #CC4452
lightpurple: background: #723147
darkpurple: background: #31152B;
*/
body {
  background-color: #F9E4AD;
}
header {
  background-color: #31152B;
  color: #E6B098;
  text-align: center;
  padding: 5px;
}

button {
  padding: 0 10px;
  background-color: #E6B098;
  color: #31152B;
}

button:hover {
  background-color: #CC4452;
  color: #F9E4AD;
}

.footer-text {
  text-align: center;
  color: #31152B;
}

